.navbar-container {
    background-color: #192a37;
}

.dashboard-name {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.filter-by {
    color: white;
}


.filter-section {
    display: flex;
    flex-direction: row;
    margin-left: 2.8em;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 26%;
}



.filter-dropdown {
    height: 26px;
    margin: 0 5px;
    background-color: #253f52;
    color: lightgrey;
    border-radius: 3px;
    border: 0 !important;
}

.filter-button {
    background-color: #253f52;
    color: lightgrey;
    border-radius: 3px;
    height: 26px;
    border: 0 !important;
}