.navbar-container {
    background-color: #3e596b;
}

.dashboard-name {
    color: #192a37;
    text-decoration: none;
    margin-left: 15px;
    font-size: 2em;
}

.filter-by {
    color: #192a37;
}


.filter-section {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 3.6em;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 30%;
}



.filter-dropdown {
    height: 26px;
    margin: 0 5px;
    background-color: #253f52;
    color: #0c151b;
    border-radius: 3px;
    border: 0 !important;
}

.filter-button {
    background-color: #253f52;
    color: #0c151b;
    border-radius: 3px;
    height: 26px;
    border: 0 !important;
}