.admin-button, .new-task-button {
    margin-left: 1.7em;
    background-color: #253f52;
    color: lightgrey;
    border-radius: 3px;
    text-decoration: none;
    border-style: none;
}

.admin-button {
    padding: 10px 25px;
}

.new-task-button {
    padding: 6px 25px;
}

.dashboard-name {
    color: #253f52;
    text-decoration: none;
    font-size: 2em;
    margin-left: 0.8em;
}


.filter-by {
    color: #253f52;
}


.filter-section {
    display: flex;
    flex-direction: row;
    margin-left: 1.6em;
    margin-top: 1em;
}


.filter-dropdown {
    height: 26px;
    margin: 0 5px;
}

.filter-button {
    height: 26px;
}

.filter-button, .filter-dropdown {
    background-color: rgb(233, 233, 233);
    color: #253f52;
    border-radius: 3px;
    border: 0 !important;

}